*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: Arial;
}
.container{
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}
header{
	height: 400px;
	padding: 150px 0px;
	background: url("img/section-bg1.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
}
.logo{
	background: url("img/logo.png") no-repeat;
	margin: 0 auto;
	height: 133px;
	width: 130px;
}
header h1{
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 35px;
}
header h2{
	color: rgb(150,150,150);
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	padding-top: 20px;
}
.button{
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
	background: rgb(124,197,118);
	width: 120px;
	text-align: center;
	border-radius: 5px;
	font-size: 12px;
	color: white;
	cursor: default;
	transition: margin-top 0.3s;
}
.button:hover{
	margin-top: 15px;
	cursor: pointer;
}
nav ul{
	list-style-type: none;
	width: 100%;
	height: 100px;
}
nav{
	box-shadow: 0 4px 2px -2px gray;
}
.nav-button{
	background: url("img/small-logo.png") no-repeat;
	background-position: center center;
}
nav li{
	width: 14.285%;
	float: left;
}
nav li a{
	display: block;
	height: 100%;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	color: rgb(35,35,35);
	font-weight: bold;
}

.services{
	padding-top: 100px;
}
.services h3{
	font-size: 28px;
	text-align: center;
	color: rgb(35,35,35);
}
.services h4{
	font-size: 14px;
	color: rgb(180,180,180);
	text-align: center;
	padding-top: 15px;
}
.services ul{
	padding-top: 50px;
	list-style-type: none;
	width: 40%;
	float: left;
}
.icon{
	width: 100px;
	float: left;
	font-size: 50px		!important;
	color: rgb(64,165,64);
	clear: both;
	height: 120px;
}
.services ul li{
	height: 110px;
}
.services ul li h5{
	padding-bottom: 10px;
}
.services ul li p{
	font-size: 12px;
	color: rgb(180,180,180);
}
.side-image{
	width: 50%;
	float: left;
	background: url("img/macbook-pro.png") no-repeat;
	background-position: center center;
	height: 480px;
	background-size: contain;
	margin-left: 10%;
}
.maps{
	padding-top: 100px;
}
.maps h3{
	font-size: 36px;
	text-align: center;
	color: rgb(35,35,35);
	padding-bottom: 20px;
}
.maps iframe{
	float: left;
	width: 25%;
	padding: 0 4.1%;
}

.ending{
	padding-top: 200px;
}
.ending .left{
	width: 50%;
	height: 300px;
	background: url("img/bg-map.png") no-repeat;
	background-position: center center;
	background-size: contain;
	float: left;
}
.ending .left h6{
	font-size: 14px;
	line-height: 200%;
	color: rgb(35,35,35);
	width: 50px;
	padding-bottom: 50px;
}
.ending .left .fa{
	font-size: 50px;
}
.ending .right{
	width: 49%;
	float: right;
}

footer{
	margin-top: 50px;
	padding-top: 20px;
	background: rgb(10,10,10);
	height: 150px;
}
div.logo{
	height: 50px;
	width: 50px;
	background-size: contain;
}
footer p{
	text-align: center;
	color: rgb(180,180,180);
	padding-top: 20px;
}
iframe{
	display: block;
	width: 100%;
	height: 300px;
}

@media screen and (max-width: 768px){
	nav li{
	width: 100%;
	float: left;
	}
	nav{
		box-shadow: 0 0 0 0 white;
	}
	.services ul{
	padding-top: 50px;
	list-style-type: none;
	width: 100%;
	float: left;
	}
	.side-image{
	width: 100%;
	float: left;
	background: url("img/macbook-pro.png") no-repeat;
	background-position: center center;
	height: 480px;
	background-size: contain;
	margin-left: 0;
	}
	.maps iframe{
	float: left;
	width: 100%;
	padding: 20px 0;
	}
	.ending .left{
	width: 100%;
	height: 300px;
	background: url("img/bg-map.png") no-repeat;
	background-position: center center;
	background-size: contain;
	float: left;
	padding-bottom: 15px;
	}
	.ending .right{
	width: 100%;
	float: right;
	}
	iframe{
		height: 200px;
	}
}