*{
    margin: 0;
    padding: 0;
}

body{
    background: #d8c600;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

header, footer{
    padding: 30px 5%;
    color: #1f1f1f;
    cursor: default;
}

h1{
    text-align: left;
    font-size: 4em;
}

h2{
    text-align: left;
    font-size: 1.2em;
    margin-left: 2%;
    clear: both;
}

h3#show{
    text-align: right;
    padding: 3px;
}

span#about {
    padding: 10px;
    border: 1px solid black;
    border-radius: 7%;
    background: #1f1f1f;
    color: #d8c600;
    transition: color 0.6s, background 0.3s;
}

span#about:hover{
    background: #d8c600;
    color: #1f1f1f;
}

ul{
    list-style-type: none;
    width: 100%;
}

a{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: none;
    background-color: #1f1f1f;
    background-position: center;
    height: 450px;
    color: #d8c600;
    border-top: 1px solid #d8c600;
    transition: all 0.3s;
}
a:hover{
    background: #111111;
}

i{
    margin-bottom: 50px;
    font-size: 5em;
}

footer{
    color: #1f1f1f;
    font-weight: bold;
    cursor: default;
    height: 80px;
}
#footer-right{
    text-align: right;
    line-height: 80px;
    font-size: 2em;
    width: 100%;
}

@media screen and (max-device-width: 400px){
    h1{
        font-size: 5em;
    }
    h2{
        margin-top: 20px;
        font-size: 2em;
    }
    h3{
        margin-top: 30px;
        font-size: 1.5em;
    }
    a{
        font-size: 4em;
    }
    i{
        margin-bottom: 40px;
        font-size: 3em;
    }
}

#about-text{
    font-size: 0.5em !important;
    width: 60%;
    margin: 0% 20%;
    line-height: 1.5em !important;
}


.remove-height{
    height: 0px;
    visibility: hidden;
}