*{
    margin: 0;
    padding: 0;
}

body{
    background: #202020;
    font-family: 'Lato', sans-serif;
}

#head-container{
    width: 50%;
    margin: 0 auto;
}

h1{
    text-align: left;
    text-transform: uppercase;
    font-size: 56px;
    color: #EEEEEE;
    margin-top: 300px;
	cursor: default;
}

h2{
    text-align: right;
    text-transform: uppercase;
    font-size: 30px;
    color: #EEEEEE;
	cursor: default;
}

ul{
    list-style-type: none;
    background: #EEEEEE;
    width: 100%;
}

li{
    float: left;
    width: 49.9%;
    background: #EEEEEE;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 55px;
    margin-right: 0.1%;
    margin-bottom: 0.1%;
}

li:nth-child(odd):last-child{
    width: 100%;
}

a{
    display: block;
    color: #202020;
    text-decoration: none;
    transition: all 0.2s ease-out;
}
a:hover{
    color: #006699;
}

@media screen and (max-device-width: 400px){
    #head-container{
        width: 80%;
        margin: 0 auto;
    }
    h1{
        font-size: 7em;
        margin-top: 50px;
    }
    h2{
        font-size: 3em;
    }
    li{
        font-size: 3em;
        line-height: 4em;
    }
}