body{
    font-size: 0.6em;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border: solid 1px #336B86;
    outline: none;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 3px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
}

#getAddressButton{
    background: #90AFC5;
    margin-bottom: 10px;
}

#getLocation{
    background: #A43820;
    color: white;
}

#map{
    width: 100%;
    height: 500px;
}

#closest{
    height: 1px;
    line-height: 50px;
    font-size: 2em;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    transition: all 1s ease;
    color: #336B86;
    word-wrap: break-word;
}