html, body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(19, 4, 19);
}

canvas{
    min-width: 568px;
    min-height: 320px;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    background: rgb(29, 6, 29);
}

#startGame{
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 40%;
    height: 1em;
    
    border-radius: 10px;

    background-color: #0c634e;
    color: white;
    text-align: center;
    font-size: 1.5em;
    line-height: 100%;
    padding: 5% 0;
    cursor: pointer;
    font-family: sans-serif;
    transition: all 0.5s;
}
#startGame:hover{
    background-color: #128064;
}

.banner{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-family: sans-serif;
    font-size: 0.7em;
    width: 100%;
    padding: 3px 0;
}

#right{
    text-align: right;
}